@import "tailwindcss";

#root,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
